<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.start.biruk.saveit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.addwebView.AddWebActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <service android:name=".service.ArticleFetcherService" />

        <activity android:name=".view.displayArticleView.DisplayArticleActivity"></activity>
        <activity
            android:name=".view.searchView.SearchActivity"
            android:parentActivityName=".view.MainActivity"></activity>
        <activity
            android:name=".view.tagsView.SelectedTagActivity"
            android:label="@string/title_activity_selected"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.start.biruk.saveit.view.MainActivity" />
        </activity>
    </application>

</manifest>